@import "@/styles/_spacing.scss";
@import "@/styles/_colors.scss";
@import "@/styles/_responsive.scss";

.searchBox {
  height: 100%;
  width: 100%;
  display: grid;
  gap: calc($unit * 4);
  @include on-desktop {
    gap: calc($unit * 2);
  }
}

.searchBox_header {
  height: 64px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0 calc($unit * 2) 0 0;
}

.searchBox_input {
  height: 64px;
  outline: none;
  border: none;
}

.searchBox_actions {
  gap: calc($unit * 2);
  & span {
    gap: calc($unit * 0.5);
  }
}

.searchBox_results {
  padding-inline: 0;
  list-style: none;
}

.searchBox_resultItem:hover {
  background-color: var($--secondary);
  cursor: pointer;
}

.searchBox_resultItem a {
  text-decoration: none;
}
