@import "@/styles/spacing.scss";
@import "@/styles/colors.scss";

.recommendation {
  display: flex;
  align-items: center;
  gap: calc($unit * 1);
  width: fit-content;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  &:hover {
    filter: drop-shadow(1px 1px 0.15rem var($--secondary));
  }
}

.index {
  font-size: calc($unit * 3);
  font-weight: 600;
  letter-spacing: 4px;
}

.title {
  white-space: nowrap;
}
