@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

.waving {
  animation: wave 1.5s 2;
  transform-origin: bottom;
}

@keyframes movex {
  0% {
    transform: translateX(-200%);
  }

  25% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(275%);
  }

  100% {
    transform: translateX(0%);
  }
}

.movingx {
  animation: movex 4s 0.2s ease-in-out;
}
