// Variable names 🍕
$--muted: --muted;
$--text: --text;
$--primary: --primary;
$--secondary: --secondary;
$--highlight: --highlight;
$--accent: --accent;
$--danger: --danger;
$--bg-content: --bg-content;
$--bg-lead: --bg-lead;
$--text-gradient: --text-gradient;
$--vertical-shadow: --vertical-shadow;
$--shadow: --shadow;
$--white: --white;
$--black: --black;

// Default theme
$theme-map-light: (
  $--muted: #6c757d,
  $--text: #2a2a2a,
  $--primary: #1a8cd8,
  $--secondary: #127797,
  $--highlight: #386676,
  $--accent: #d8701a,
  $--danger: #de3019,
  $--bg-content: #f2f4f7,
  $--bg-lead: #ffffff,
  $--text-gradient: linear-gradient(180deg, #7db800 50.31%, #ed0900 100%),
  $--vertical-shadow: rgba(78, 78, 78, 0.3),
  $--shadow: rgba(78, 78, 78, 0.4),
  $--white: #fefeff,
  $--black: #102011,
);

// Override the default light theme
$theme-map-dark: (
  $--muted: #b1afbb,
  $--text: #f0f0f0,
  $--primary: #e01673,
  $--secondary: #9d0f73,
  $--highlight: #ffc6ee,
  $--accent: #84e016,
  $--danger: #f33636,
  $--bg-content: #282828,
  $--bg-lead: #1f1f1f,
  $--text-gradient: linear-gradient(180deg, #50feb0 24.5%, #6494ff 103.25%),
  $--vertical-shadow: rgb(0, 0, 0, 0.5),
  $--shadow: rgb(0, 0, 0, 0.5),
  $--white: #fefeff,
  $--black: #102011,
);
