// Variable names 🍕
$--muted: --muted;
$--text: --text;
$--primary: --primary;
$--secondary: --secondary;
$--highlight: --highlight;
$--accent: --accent;
$--danger: --danger;
$--bg-content: --bg-content;
$--bg-lead: --bg-lead;

// Default theme
$theme-map-light: (
  $--muted: #6c757d,
  $--text: #2a2a2a,
  $--primary: #1a8cd8,
  $--secondary: #127797,
  $--highlight: #386676,
  $--accent: #d8701a,
  $--danger: #972212,
  $--bg-content: #f2f4f7,
  $--bg-lead: #ffffff,
);

// Override the default light theme
$theme-map-dark: (
  $--muted: #b1afbb,
  $--text: #f0f0f0,
  $--primary: #e01673,
  $--secondary: #9d0f73,
  $--highlight: #ffc6ee,
  $--accent: #84e016,
  $--danger: #f33636,
  $--bg-content: #282828,
  $--bg-lead: #1f1f1f,
);
