@import "@/styles/_responsive.scss";
@import "@/styles/spacing.scss";

.theHeader {
  height: calc($unit * 8);
  box-sizing: border-box;
  padding-left: calc($unit * 2);
}

.theHeader_content {
  height: 100%;
  @include on-desktop() {
    width: 75%;
    max-width: calc($unit * 126);
    margin: 0 auto;
  }
}

.theHeader_actions {
  height: 100%;
  gap: calc($unit * 2);
  @include on-desktop() {
    gap: calc($unit * 4);
  }
}

.themeSwitcher {
  display: none;
}

.theHeaderIcons {
  & > ul {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    gap: calc($unit * 2);

    & > li {
      display: flex;
      align-items: baseline;
    }

    & > li:nth-child(1),
    li:nth-child(2) {
      display: none;
      @include on-desktop() {
        display: flex;
      }
    }
  }
}
