@import "@/styles/spacing.scss";
@import "@/styles/colors.scss";

.author {
  display: flex;
  align-items: center;
  gap: calc($unit * 1);
  background-color: var($--bg-blur);
  width: fit-content;
  padding-block: 1px;

  & img {
    margin-left: 2px;
    margin-top: 1px;
  }
}
